body, ul, li{
    margin: 0;
    padding: 0;
    background: #fff;
}

/*通用主题*/

/*UI组件背景*/
ul.menu ul, .window, .tab>div>div{
    background: #fff;
    color: #2c2c2c;
}
/*UI导航栏背景*/
ul.menu, ul.menu>li, .tab>ul, .tab>ul>li{
    background: #f6f6f6;
}
    /*UI组件背景 hover 或 checked 状态*/
ul.menu li:hover, .window .title-bar, .tab>ul>li.checked{
    background: #dbdbdb;
}
/*UI组件边框*/
ul.menu, ul.menu ul, .window, .tab, .tree{
    border: 1px solid #c3c3c3;
}

/*一级菜单*/
ul.menu{
    position: relative;
    z-index: 100;
}
ul.menu>li{
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    list-style-type: none;
    cursor: default;
}
/*子菜单、右键菜单*/
ul.menu li:hover>ul{
    display: inline-block;
}
/*所有子菜单列表*/
ul.menu ul{
    display: none;
    position: absolute;
    top: 1.5em;     /*fix ie display*/
    padding: 2px;
    list-style-type: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);        /*menu shadow*/
    z-index: 100;
}
/*所有子菜单项*/
ul.menu ul li, .context li{
    position: relative;
    padding: 2px 30px 2px 20px;
    white-space: nowrap;
}
ul.menu ul li>span::after{
    content: '';
    position: absolute;
    top: 0.5em;
    right: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    border-left: 0.6em solid #2c2c2c;
}
/*二级菜单*/
ul.menu>li>ul{
    left: 0;
}
/*三级以上菜单*/
ul.menu ul ul, .context{
    left: 100%;
    top: 0;
}

/*窗口*/
.window{
    display: none;
    position: absolute;
    padding: 40px 10px 10px 10px;
    z-index: 500;
    box-shadow: 3px 3px 20px #000000;
}
.window *{
    margin: 5px;
}

.window .title-bar{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 30px;
    overflow: hidden;
    cursor: default;
}
.window .title-bar>p{
    position: absolute;
    margin: 0;
    padding-left: 15px;
    line-height: 30px;
}
/*标题栏关闭按钮*/
.window .title-bar .close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0 20px;
    line-height: 30px;
    transition: all .6s;
}
.window .title-bar .close::before{
    content: '\2716';
}
.window .title-bar .close:hover{
    background: #ff3e36;
}
/*window-block*/
.block-all{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    z-index: 400;
    background: #000;
    opacity: 0.5;
}
.twinkle-border{
    animation: .15s twinkleBorder;
    animation-iteration-count: 6;
}
.twinkle-title{
    animation: .15s twinkleTitle;
    animation-iteration-count: 6;
}
@keyframes twinkleBorder {
    from {
        border-color: #ff3e3e;
    }
}

@keyframes twinkleTitle {
    from {
        background-color: #ff2a24;
    }
}

/*选项卡*/
.tab>ul{
    position: relative;
    cursor: default;
    border-bottom: 1px solid #c3c3c3;
}
.tab>ul>li{
    display: inline-block;
    position: relative;
    padding: 10px;
}
.tab>ul>li.checked{
    background: #fff;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
}
.tab>ul>li.checked:first-child{
    border-left: none;      /*去除第一个 li 元素的重复边框*/
}
.tab>ul>li.checked::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background: #fff;
}
.tab>div.tab-content>div{
    display: none;
    padding: 20px;
}
.tab>div.tab-content>div.checked{
    display: block;
}

/*树形组件*/
ul.tree{
    padding: 10px;
    list-style-type: none;
    cursor: default;
}
ul.tree ul{
    padding-left: 15px;
    list-style-type: none;
}
ul.tree span{
    display: block;
    padding: 0.3em 1.5em;
}
ul.tree span.folder::before{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: -1em;
    margin-right: 0.4em;
    border-left: 0.6em solid #2c2c2c;
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    transition: .2s;
}
ul.tree span:hover, ul.tree li.tree-item:hover, span.checked{
    background: #dbdbdb;
}
ul.tree>li ul{
    height: 0;
    visibility: hidden;
    overflow: hidden;
}
ul.tree>li span.expanded+ul{
    height: auto;
    visibility: visible;
}
ul.tree>li span.expanded::before{
    transform: rotate(90deg);
}
